/*****************************************/
/*      Commun à toutes les tailles      */
/*****************************************/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hwb(197 9% 24%)
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Le Hack du Menu (Case à cocher cachée) */
#menu {
    display: none;
}


img {
    max-width: 100%;
    height: auto;
}

ul#menu li a:link,
ul#menu li a:visited {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
}


/* Pied de page */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8em;
    margin: 5px 0;
}

footer a {
    color: orangered;
    text-decoration: none;
    font-size: 0.8em;
}

/* Style du bouton Mobile par défaut (caché sur PC) */
.mobile-pdf-btn {
    display: none; 
    text-align: center;
    padding: 20px;
}

.btn-download {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* *************************************/
/* Smartphone (Écrans < 577px) */
/**************************************/
@media screen and (max-width: 577px) {

    /* --- Bouton menu --- */
    header .menu-icon {
        width: 30px;
        height: 30px;
        position: fixed;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 100;
        background-color: rgba(255,255,255,0.8);
        border-radius: 5px;
        padding: 5px;
    }
    
    header .menu-icon img {
        width: 100%;
        height: 100%;
        display: block;
    }

    /* --- Menu caché --- */
    header nav {
        position: fixed;
        top: 0;
        right: -250px; 
        width: 250px;
        height: 100vh;
        background-color: hwb(197 9% 24%); 
        transition: right 0.4s ease-in-out; 
        padding-top: 60px;
        box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    }

  
    /* Quand la case #menu est cochée, on ramène nav à 0 */

    #menu:checked ~ nav {      
        right: 0;
    }

    /* Menu à la vertical */
    header nav ul#menus {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 20px;
    }

    header nav li {
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
       border-bottom: 1px solid rgba(255,255,255,0.1); 
    }
    nav a:hover {
        
        background-color: white;
        color:black;
    }

    /* Gestion des Logos Mobile */
    .logo-tb { display: none; }
    .logo-pc { display: block; margin: 0 auto; height: 40px; }
    


     .pdf-wrapper-mobile {
        width: 100%;
        height: 80vh;       
    }
       
    .pdf-container-dossier {
        width: 100%;
        height: 100%; 
    }
    /* On affiche le bouton de remplacement */
    .mobile-pdf-btn {
        display: block; 
    }


    .pdf-wrapper-mobile {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
 

}


/********************************/
/* Tablette ********************/
/*******************************/
@media screen and (min-width: 578px) and (max-width: 768px) {

    /* On cache le bouton menu mobile */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999; /* Priorité d'affichage */
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 0;
        height: auto;
    }

    body {
        padding-top: 70px; 
    }

    /* Liste des liens à l'horizontale */
    header nav ul#menus {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 10px 40px;
        margin: 0 auto; 
    }

    /* Style des liens pc*/
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #eee;
        color: #007BFF;
    }

    /* Gestion des Logos tablette */
    .logo-tb { display: block; height: 50px; }
    .logo-pc { display: none; }

    header nav li {
        margin-left: 20px;
    }
    
    /* Le Logo du menu (Premier li) */
    li#clogo {
        margin-right: auto; 
        margin-left: 0;
    }



    nav img.logo {
        width: 35%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        margin-top: 30px;
    }

    section#services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    section#equipe services-item {
        margin-bottom: 20px;
    }

    section#services h3 {
        font-size: 1.5em;
        padding-left: 10px; 
    }

    section#services p {
        font-size: 1em;
        padding: 10px;
    }

   
    
  
    .pdf-container {
        width: 100%;       
        height: 75vh;      
        min-height: 400px; 
    }

    .pdf-container-dossier {
        width: 100%;
        height: 75vh;
    }

}


/********************************************/
/***      Ordinateur (Écrans > 769px)    ****/
/********************************************/
@media screen and (min-width: 769px) {

    /* On cache le bouton menu */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 999;   
        
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 20px;  
        height: auto;
        box-sizing: border-box; 
    }

    
    body {
        padding-top: 110px; 
    }

    /* Liste des liens à l'horizontale */
header nav ul#menus {
        display: flex;
        flex-direction: row;            
        justify-content: center;         
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 10px 0; 
        width: 100%;
    }
    header nav li {
        margin: 0 15px;
    }
    
    /* Le Logo du menu (Premier li) */
li#clogo {
        
        position: absolute;
        left: 40px; 
        top: 50%;   
        transform: translateY(-50%); 
        margin: 0;
    }

    /* Style des liens PC */
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #080000;
        color: white;
    }

    /* Gestion des Logos PC */
    .logo-pc { display: block; height: 50px; }
    .logo-tb { display: none; }


    h2 {
        text-align: center;
        margin-top: 30px;
        font-size: 2em;
    }

    section#services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

  section#equipe services-item {
    margin-bottom: 20px;
  }

  section#services h3 {
    font-size: 1.5em;
    padding-left: 10px;
  }

  section#services p {
    font-size: 1em;
    padding: 10px;
  }


    .pdf-container {
        display: block;
        margin: 30px auto;
        width: 80%;       
        height: 80vh;     
        border: 1px solid #ddd;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }*
    .pdf-container-dossier {
        display: block;
        margin: 30px auto; 
        width: 70%;        
        height: 80vh;      
        border: 1px solid #ddd;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }  


}


