html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}


#contact {
    margin-top: 60px;
    margin-bottom: 10px;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100%;
    min-height: 80vh;
    display: flex;            
    flex-direction:column;  
    align-items: center;      
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    padding-bottom: 15px;
}


#contact ul {
    text-align: left; 
    width: fit-content; 
   
}


#contact li {
    display: block;    
    padding: 10px;
 
}