/*****************************************/
/*      Commun à toutes les tailles      */
/*****************************************/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hwb(197 9% 24%);
    font-family: Arial, Helvetica, sans-serif;
}


/* Gestion globale des images */
img {
    max-width: 100%;
    height: auto;
    display:block;
}

/* Le Hack du Menu (Caché par défaut) */
input#mn, label[for="mn"] {
    display: none;
}

h2 {
    color: white;
    padding: 15px;
    text-align: center;
}

/* Pied de page */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8em;
    margin: 5px 0;
}
footer a {
    color: orangered;
    text-decoration: none;
    font-size: 0.8em;
}


.service-item {
background-color: rgba(255, 255, 255, 0.1); /* Fond léger pour voir les cartes */
border-radius: 8px;
padding: 15px;
color: white; 
}

#services{
        margin: auto;
        max-width: 90%;
}

/********************************/
/* Section Page d'introduction */
/*******************************/

/* On cible le body de la page d'accueil uniquement */
body.page-intro {    
    height: 100vh;
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement (Header, Div, Footer) */
    animation: fadeInPage 1s ease-out;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le texte verticalement */
    align-items: center;     /* Centre le texte horizontalement */
    flex: 1;                 /* Prend tout l'espace disponible entre header et footer */
    color: white;  
    padding: 20px; 
}

.intro-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

.index-text {
    max-width: 700px;        /* Définit la largeur du bloc de texte */
    width: 100%;              /* Pour le responsive (tablettes/mobiles) */
    text-align: justify;     /* Justifie le texte à l'intérieur du bloc */
    font-size: large;
    margin-bottom: 20px;     /* Espace avant le bouton */
    line-height: 1.6;
}

/* On enlève les paddings inutiles sur les p pour ne pas briser l'alignement */
.index-text p {
    margin: 30px 0;          /* Espace entre les paragraphes */
    line-height: 1.6;        /* Améliore la lisibilité */
}


.btn-entrer {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: large;
    margin-top: 25px;
}

.btn-entrer:hover {
    background-color: #2980b9;
}

/* 
/* 1. On définit l'animation */
@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px); /* Léger mouvement vers le haut */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/***************************************/
/* Fin de section page d'introduction */
/**************************************/

/*****************************************/
/*      Section Page Contact             */
/*****************************************/

html.page-contact, body.page-contact {
    background-color: white;
    background: white;
 }

#contact {
    margin-bottom: 10px;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100%;
    min-height: 80vh;
    display: flex;               
    flex-direction: column;  
    justify-content: center;
    font-size: 2rem;
    font-weight: bolder;
    color: hwb(197 9% 24%);
}
#contact h1, #contact p {
    margin-left: 40px;
}
#contact ul { 
    list-style: none;
    padding: 0;
    margin-left: 40px;
}
#contact li { 
    display: block; 
    padding: 10px; 
}

/*****************************************/
/* Fin Section Page Contact             */
/*****************************************/


/*****************************************/
/*    Section Dossier Images             */
/*****************************************/
.dossier-images {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.dossier-images img {
    width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}





/* *************************************/
/* Smartphone (Écrans < 577px) */
/**************************************/
@media screen and (max-width: 577px) {

    /*  Bouton menu (Le contenant)  */
    label[for="mn"].menu-icon { 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        position: fixed;
        right: 20px;
        top: 15px;
        z-index: 1000; 
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    /* Pour que le contenu contact ne remonte pas trop */
    body {
        padding-top: 70px;
    }

    /*  Le Menu caché  */
    header nav {
        position: fixed;
        top: 0;
        right: -250px; /* Caché à droite */
        width: 250px;
        height: 100vh;
        background-color: hwb(197 9% 24%); 
        transition: right 0.4s ease-in-out; 
        padding-top: 80px;
        z-index: 999;
    }

    /* Input menu*/
    input#mn:checked ~ nav {
        right: 0;
    }


    /* Menu à la vertical */
    header nav ul#menus {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: 10px;
    }

    header nav li {
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        border-bottom: 1px solid rgba(255,255,255,0.1); 
    }
    nav a:hover {        
        background-color: white;
        color:black;
    }

    /* Gestion des logos du menu */
    .logo-tb { display: none; }
    .logo-pc { display: block; margin: 0 auto; height: 40px; }

    #contact {
    font-size: 1.2rem; /* Taille plus petite pour smartphone */
    min-height: 100vh; /* Utilise toute la hauteur de l'écran */
    }

    #contact ul {
        width: 90%; 
    }

    #services {
        display: flex;
        flex-direction: column; /* Force l'alignement vertical */
        gap: 20px;              /* La méthode la plus moderne pour l'espace */

    }

  
}


/********************************/
/* Tablette ********************/
/*******************************/
@media screen and (min-width: 578px) and (max-width: 812px) {
    body { padding-top: 80px; }
    .dossier-images {
        width: 90%; 
    }
    /* On cache le bouton menu mobile */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999; /* Priorité d'affichage */
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 0;
        height: auto;
    }

    body {
        padding-top: 60px; 
    }

    /* Liste des liens à l'horizontale */
    header nav ul#menus {
        display: flex;
        justify-content: center; 
        align-items: center;
        list-style: none;
        margin: 0 auto; 
        padding: 10px;
    }


    li#clogo {
        margin-right: auto; 
      
    }

    /* Style des liens pc*/
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #eee;
        color: #007BFF;
    }

    /* Gestion des Logos tablette */
    .logo-tb { display: block; height: 50px; }
    .logo-pc { display: none; }


    /* Mise en place de la disposition en mode tablette */
    nav img.logo {
        width: 35%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
    }

    /***************************************/
    /*    Section Services                 */
    /***************************************/

    #services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #services h3 {
        font-size: 1.5em;
        padding-left: 10px; 
    }

    #services p {
        font-size: 1em;
        padding: 10px;
    }

    /***************************************/
    /*   Fin Section Services              */
    /***************************************/

}


/********************************************/
/***      Ordinateur (Écrans > 769px)    ****/
/********************************************/
@media screen and (min-width: 813px) {
    body.page-intro {
        height: 93vh !important; /* 100% de la hauteur de la fenêtre (Viewport Height) */
        display: flex;
        flex-direction: column; /* Aligne les éléments verticalement (Header, Div, Footer) */
        margin: 0;
    }
    
    body {
        padding-top: 90px;
    }
    .dossier-images {
        width: 70%; 
    }
    /* On cache le bouton menu */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 999;   
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 10px;  
        height: auto;
        box-sizing: border-box; 
    }

    

 /* Liste des liens à l'horizontale */
    header nav ul#menus {
        display: flex;
        flex-direction: row;            
        justify-content: center;         
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 10px 0; 
        width: 100%;
    }
    header nav li {
        margin: 0 15px;
    }
    
    /* Le Logo du menu (Premier li) */
       li#clogo {
        margin-right: auto; 
        margin-left: 0;
    }

    /* Style des liens PC */
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #080000;
        color: white;
    }

    /* Gestion des Logos PC */
    .logo-pc { display: block; height: 50px; }
    .logo-tb { display: none; }


    h2 {
        text-align: center;
        margin-top: 30px;
        font-size: 2em;
    }

    /***************************************/
    /*    Section Services                 */
    /***************************************/
    
    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #services h3 {
        font-size: 1.5em;
        padding-left: 10px;
    }

    #services p {
        font-size: 1em;
        padding: 10px;
    }


}


