/*****************************************/
/*      Commun à toutes les tailles      */
/*****************************************/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: hwb(197 9% 24%);
    font-family: Arial, Helvetica, sans-serif;
}


/* Gestion globale des images */
img {
    max-width: 100%;
    height: auto;
}

/* Le Hack du Menu (Caché par défaut) */
input#mn, label[for="mn"] {
    display: none;
}

/* Pied de page */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
footer h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8em;
    margin: 5px 0;
}
footer a {
    color: orangered;
    text-decoration: none;
    font-size: 0.8em;
}

.service-item {
background-color: rgba(255, 255, 255, 0.1); /* Fond léger pour voir les cartes */
border-radius: 8px;
padding: 15px;
color: white; 
}

h2 {
    color: white;
    padding: 15px;
}
/***************************************/
/* 2. SECTION DOSSIER IMAGES             */
/*****************************************/
.dossier-images {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
}
.dossier-images img {
    width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/*****************************************/
/*      SECTION PAGE CONTACT             */
/*****************************************/
html.page-contact, 
body.page-contact {
    background-color: white;
    background: white;
}

#contact {
    margin-bottom: 10px;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    width: 100%;
    min-height: 80vh;
    display: flex;               
    flex-direction: column;  
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    color: hwb(197 9% 24%);
    padding-bottom: 15px;
}
#contact h1, #contact p {
    text-align: left;
    padding: 10px;
    margin-left: 40px;
}
#contact ul { 
    text-align: left; 
    width: fit-content; 
    list-style: none; 
}
#contact li { 
    display: block; 
    padding: 10px; 
}

/*****************************************/
/* FIN SECTION PAGE CONTACT             */
/*****************************************/




/* *************************************/
/* Smartphone (Écrans < 577px) */
/**************************************/
@media screen and (max-width: 577px) {

    input#mn {
        display: none;
    }

    /*  Bouton menu (Le contenant)  */
    label[for="mn"].menu-icon { 
        display: block;
        width: 40px; /* Taille fixe pour le bouton */
        height: 40px;
        position: fixed;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 1000; 
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    /*  L'image à l'intérieur du bouton  */
    label[for="mn"].menu-icon img {
        width: 100%; /* Elle prend 100% des 40px du parent */
        height: auto;
        display: block;
    }

    /* Pour que le contenu contact ne remonte pas trop */
    body {
        margin-top: 80px;
    }

    /*  Le Menu caché  */
    header nav {
        position: fixed;
        top: 0;
        right: -250px; /* Caché à droite */
        width: 250px;
        height: 100vh;
        background-color: hwb(197 9% 24%); 
        transition: right 0.4s ease-in-out; 
        padding-top: 80px;
        z-index: 999;
    }

    /* Input menu*/
    input#mn:checked ~ nav {
        right: 0;
    }


    /* Menu à la vertical */
    header nav ul#menus {
        display: flex;
        flex-direction: column; 
        align-items: center;  
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 20px;
    }

    header nav li {
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        border-bottom: 1px solid rgba(255,255,255,0.1); 
    }
    nav a:hover {        
        background-color: white;
        color:black;
    }

    /* Gestion des logos du menu */
    .logo-tb { display: none; }
    .logo-pc { display: block; margin: 0 auto; height: 40px; }

    #contact {
    font-size: 1.2rem; /* Taille plus petite pour smartphone */
    min-height: 100vh; /* Utilise toute la hauteur de l'écran */
    }


#contact ul {
    width: 90%; 
}
  
}


/********************************/
/* Tablette ********************/
/*******************************/
@media screen and (min-width: 578px) and (max-width: 768px) {

    .dossier-images {
        width: 90%; 
    }
    /* On cache le bouton menu mobile */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999; /* Priorité d'affichage */
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 0;
        height: auto;
    }

    body {
        padding-top: 70px; 
    }

    /* Liste des liens à l'horizontale */
    header nav ul#menus {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 10px 40px;
        margin: 0 auto; 
    }

    /* Style des liens pc*/
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #eee;
        color: #007BFF;
    }

    /* Gestion des Logos tablette */
    .logo-tb { display: block; height: 50px; }
    .logo-pc { display: none; }

    header nav li {
        margin-left: 20px;
    }
    
    /* Le Logo du menu (Premier li) */
    li#clogo {
        margin-right: auto; 
        margin-left: 0;
    }

    /* Mise en place de la disposition en mode tablette */
    nav img.logo {
        width: 35%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
        margin-top: 30px;
    }

    /***************************************/
    /* 1. Section Services                 */
    /***************************************/

    section#services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    section#services .service-item {
        margin-bottom: 20px;
    }

    section#services h3 {
        font-size: 1.5em;
        padding-left: 10px; 
    }

    section#services p {
        font-size: 1em;
        padding: 10px;
    }

}


/********************************************/
/***      Ordinateur (Écrans > 769px)    ****/
/********************************************/
@media screen and (min-width: 769px) {
    body {
        padding-top: 70px;
    }
    .dossier-images {
        width: 70%; 
    }
    /* On cache le bouton menu */
    header .menu-icon {
        display: none;
    }

    header nav {
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 999;   
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 20px;  
        height: auto;
        box-sizing: border-box; 
    }

    

 /* Liste des liens à l'horizontale */
header nav ul#menus {
        display: flex;
        flex-direction: row;            
        justify-content: center;         
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 10px 0; 
        width: 100%;
    }
    header nav li {
        margin: 0 15px;
    }
    
    /* Le Logo du menu (Premier li) */
li#clogo {
        
        position: absolute;
        left: 40px; 
        top: 50%;   
        transform: translateY(-50%); 
        margin: 0;
    }

    /* Style des liens PC */
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 8px 15px;
        border-radius: 4px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #080000;
        color: white;
    }

    /* Gestion des Logos PC */
    .logo-pc { display: block; height: 50px; }
    .logo-tb { display: none; }


    h2 {
        text-align: center;
        margin-top: 30px;
        font-size: 2em;
    }

    /***************************************/
    /* 1. Section Services                 */
    /***************************************/
    
    section#services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    section#services .service-item {
        margin-bottom: 20px;
    }

    section#services h3 {
        font-size: 1.5em;
        padding-left: 10px;
    }

    section#services p {
        font-size: 1em;
        padding: 10px;
    }


}


